.aktuelniRokovi {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.aktuelniRokovi h2 {
  text-align: center;
}

th {
  color: darkblue;
  vertical-align: center;
  background-color: rgb(230, 231, 241);
}
td {
  color: #000;
  position: relative;
}
.tableButton {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #4e66c4;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.tableButton:hover {
  background-color: #7d90db;
  color: aliceblue;
}
.sviIspitiTitle,
.mojiIspitiTitle {
  text-decoration: underline;
  font-size: 1rem;
  margin-top: 4vh;
  margin-bottom: 0.8vh;
}

@media (max-width: 1146px) {
  .tableButton {
    height: 9vh;
  }
}
@media (max-width: 930px) {
  .tableButton {
    height: 18vh;
  }
}
