.empty-header-cell {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
  color: transparent;
}
table {
  position: relative; /* So z-index works */
  z-index: 1; /* Sit above the background */
  width: 80vw;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #f8f9fa;
  font-family: "Segoe UI", sans-serif;
  font-size: 0.95rem;
  text-align: center;
}

table,
tr,
td,
th {
  border: 1px solid black;
}
