.react-datepicker__close-icon {
  position: relative;
  z-index: 6;
  right: 15px !important; /* default is 0px */
  height: 2rem;
  width: 2rem;
}
.react-datepicker__close-icon::after {
  height: 24px !important;
  width: 24px !important;
  font-size: 20px !important;
}
.custom-datepicker {
  padding: 1rem 2rem;
  width: 100%;

  position: relative; /* So z-index works */
  z-index: 5; /* Sit above the background */
  border: 2px solid var(--primary-lighten-2);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  box-sizing: border-box;
  margin: 5px 0;
}
.react-datepicker-popper {
  z-index: 9999 !important;
  min-width: 15vw;
}

.react-datepicker__day-names,
.react-datepicker__week {
  flex-direction: row !important;
}
