.react-datepicker__close-icon {
  position: relative;
  z-index: 6;
  right: 15px !important; /* default is 0px */
  height: 2rem;
  width: 2rem;
}
.react-datepicker__close-icon::after {
  height: 24px !important;
  width: 24px !important;
  font-size: 20px !important;
}
.custom-datepicker {
  padding-left: 5px;
  width: 100%;
  min-height: 7.7vh;
  position: relative; /* So z-index works */
  z-index: 5; /* Sit above the background */
}
.react-datepicker-popper {
  z-index: 9999 !important;
  min-width: 15vw;
}

.react-datepicker__day-names,
.react-datepicker__week {
  flex-direction: row !important;
}
