.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
}

.page {
  border: 1px solid var(--primary-lighten-1);
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

.page-link {
  text-decoration: none;
  border: none;
  color: var(--secondary);
  border-radius: 0.5rem !important;
}
.page-link,
.page-link.active,
.active > .page-link,
.page,
.active {
  box-shadow: none !important;
  background-color: transparent;
}
.page-link:hover {
  background-color: transparent;
  border: none;
  color: var(--primary-darken-2);
}

.active {
  background-color: var(--primary);
  color: #fff;
  border: none;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
/* Fix vertical alignment */
.align-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
