table th,
table td {
  overflow: hidden;
  text-align: start;
  border-left: none;
  border-right: none;
  padding: 0.8rem;
  font-size: 1.1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
table tr {
  border: none;
}
tr,
td,
th {
  border: 1px solid var(--secondary-darken-1);
}

table th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 100%;
}

table thead {
  position: sticky;
  top: 0;
  background-color: var(--primary-lighten-3);
  z-index: 11;
}

table td {
  vertical-align: middle !important;
}

table {
  position: relative; /* So z-index works */
  z-index: 1; /* Sit above the background */
  border-spacing: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  border-radius: 8px;
  overflow: visible;
  background-color: var(--primary-lighten-3);
  font-family: "Segoe UI", sans-serif;
  font-size: 0.95rem;
  table-layout: fixed;
  width: 100%;
}

th {
  align-items: center;
}
td {
  justify-content: center;
}

/* Sticky footer */
table tfoot {
  position: sticky;
  bottom: 0;
  background-color: var(--primary-lighten-3);
  z-index: 10;
}

/* Custom classes for table headers */

.border-bottom-0 {
  border-bottom: none !important;
}

.border-top-0 {
  border-top: none !important;
}
